.custom-gray-bg {
  background-color:#d3d3d3;
}

.custom-misssion-code-bg {
  background-color: #47d8e6;
}

#logo {
  cursor:pointer;
}

.custom-logo-width {
  max-width:13rem;
}

.custom-header-footer-content-clear-margin {
  margin-top: 9rem;
  margin-bottom:6rem;
}
.custom-header-content-clear-margin {
  margin-top:9rem;
}

footer {
  height:6rem;
}

#search-bar, 
#search-bar_magnifying-glass {
  border-width:3px;
  border-color: gray;
}

#search-bar_magnifying-glass {
  cursor:pointer;
  color:gray;
}

.custom-job-option {
  border-width:4px!important;
  border-color:gray!important;
  font-weight:bold;
}

.custom-job-option:hover {
  cursor:pointer;
}

#three-dot-menu:hover {
  cursor:pointer;
}

.custom-job-card {
  min-width:18rem;
}

body > .modal-backdrop {
  display:none !important;
}
/* Media queries for custom CSS. Breakpoints in line with Bootstrap breakpoints. 
*/
/* Small devices*/
@media (min-width: 576px) { 

}

/* Medium devices */
@media (min-width: 768px) { 
  .custom-logo-width{
      max-width:15rem;
  }
}

/* Large devices*/
@media (min-width: 992px) { 
  .nav-link:hover {
      color:#007bff !important;
  }

  .custom-job-option:hover {
      color:#007bff !important;
      border-color:#007bff !important;
      cursor: pointer;
  }

  #search-bar_magnifying-glass:hover,
  #three-dot-menu:hover {
      color:#007bff !important;
  }
}

/* Extra large devices*/
@media (min-width: 1200px) { 
  .custom-logo-width {
      max-width:20rem;
  }
}